
/*Squelette du site*/
#skeleton {
  flex : 1;
  flex-direction: column;
  display: flex;
}


/*Menu*/
#menu{
  background-color: gray;
}



/*--------< Pages >--------*/

/*Page*/
.page {
  flex: 1;
  color: black;
  
}

/*Home*/
#page_home {
  /*Flou*/
  background: rgba(0, 0, 0, 0.5); 
  video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f1f1f1;
    padding: 20px;
    z-index: 10; 
  }
  section {
    //position: fixed;
    //position: relative;
    //z-index: 1; 
  }
}


/*Programme*/
#page_programme {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.line {
    background-color: aquamarine;
    padding: 0%;
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*Contact*/
#page_contact {
  background-color: brown;
}




/*--------< Elements >--------*/


/*Artist*/
.el_artist {
  background-color: palevioletred;
  padding: 5%;
}